@model traker.Models.job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHoursWorked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
